# General
.DS_Store
Thumbs.db
node_modules/
.env
*.log
*.pyc

# Python Virtual Environment
venv/
__pycache__/

# FastAPI & Backend
backend/.env
backend/__pycache__/
backend/*.sqlite3
backend/*.db

# AI Service
ai_service/.env
ai_service/__pycache__/

# Next.js & Frontend


# Docker
*.dockerignore
docker-compose.override.yml

# VS Code & JetBrains IDEs
.vscode/
.idea/
*.iml

# Do not push frontend
frontend/